<div id="<%= dom_id income %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= income.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= income.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= income.user_id %>
  </div>
</div>
